.collCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  background: white;
  border: 1.5px solid var(--rule);
  position: relative;
  overflow-y: auto;
  border-radius: 10px;
}

.coloredDiv {
  min-width: 47px;
  height: 35px;
  padding: 0 10px 0 10px;
  margin-left: auto;
  margin-Right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family: "Space Grotesk";
  text-transform: uppercase;
  background-color: var(--ice);
  color: var(--navy);
}